PORT = 5000

MONGO_URI=mongodb+srv://rachnar6:81062526@cluster0.pzcii5i.mongodb.net/neighborcare?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=neighborcare_hackathon_secret_2026

GOOGLE_CLIENT_ID=99141710501-lifpnvvcu1vcjk9gobefrb7dfa278rmn.apps.googleusercontent.com

ADMIN_EMAIL=ranjithrachna6@gmail.com

CORS_ORIGIN=http://localhost:5173
